/*? Desktop */
.bl--product-showcase .swiper {
    width: 100%;
    height: 100%;
}

.bl--product-showcase .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bl--product-showcase .productShowcaseSwiper .swiper-wrapper {
    display: flex;
    transition-timing-function: linear;
}
/*? Desktop */

/* Responsiveness */
@media (max-width: 767px) { 
}

@media (min-width: 768px) and (max-width: 1023px) { 
}

@media (min-width: 1024px) {
}
/* Responsiveness */

/* Granular Responsiveness */
@media (min-width: 200px) and (max-width: 300px) {
}

@media (min-width: 300px) and (max-width: 500px) {
}

@media (min-width: 500px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 1000px) {
}

@media (min-width: 1100px) and (max-width: 1300px) {
}

@media (min-width: 1300px) and (max-width: 1500px) {
}
/* Granular Responsiveness */