/*? Desktop */
.offcanvas {
    background-color: var(--df-black);
}

.offcanvas-start {
    width: 100%;
}

.offcanvas-title {
    line-height: 0;
}

.navbar-brand img {
    width: 80px;
    aspect-ratio: 1;
    filter: invert(100%);
    transition: transform 0.3s ease;
}

.navbar-brand img:hover {
    transform: scale(1.1);
}

.navbar .hm-menu {
    transition: transform 0.3s ease;
}

.navbar .hm-menu:hover {
    transform: scale(1.4);
}

button .bi.bi-list {
    font-size: 1.75rem;
    color: var(--df-black);
}

.offcanvas-title img {
    width: 80px;
    aspect-ratio: 1;
}

.offcanvas .btn-close {
    opacity: 1;
    display: flex;
    background: none;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.offcanvas .btn-close:hover {
    transform: scale(1.2);
}

.offcanvas .btn-close .bi.bi-x-lg {
    font-size: 1.5rem;
    color: var(--df-white);
}

.offcanvas .offcanvas-header img {
    transition: transform 0.3s ease;
}

.offcanvas .offcanvas-header img:hover {
    transform: scale(1.1);
}

.offcanvas .swiper {
    width: 100%;
    height: 100%;
}

.offcanvas .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.offcanvas .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar-nav .nav-link {
    color: var(--df-white);
}
/*? Desktop */

/* Responsiveness */
@media (max-width: 767px) { 
}

@media (min-width: 768px) and (max-width: 1023px) { 
}

@media (min-width: 1024px) {
}
/* Responsiveness */

/* Granular Responsiveness */
@media (min-width: 200px) and (max-width: 300px) {
    .navbar-brand img {
        width: 60px;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .navbar-brand img {
        width: 65px;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .navbar-brand img {
        width: 70px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .navbar-brand img {
        width: 75px;
    }
}

@media (min-width: 1100px) and (max-width: 1300px) {

}

@media (min-width: 1300px) and (max-width: 1500px) {
}
/* Granular Responsiveness */